{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="teacher" data-users= '{{ users|safe }}' data-classes= '{{ classes_object|safe}}' data-description='{{description|safe}}' data-clubs='{{ clubs|safe }}' data-days='{{ days|safe }}' data-times='{{ times|safe }}' data-timetables='{{timetables|safe}}'> Teachers Page
    <form id = "classForm" method = "POST" action = "/teacher_class/book">
        {% csrf_token %}

    </form>
    <form id = "newClass" method = "POST" action = "/teacher_class/create">
        {% csrf_token %}

    </form>
</div>
<div class="timetable_container">
    <select class="clubz" >
        <option> Select a club </option>
        {% for club in clubz %}
        <option value="{{ club.name }}" {% if club.name == club_selected %}selected{% endif %}>{{ club.name }}</option>
        {% endfor %}
    </select>
</div>
<br>
{% if user.username == "admin" %}
    <form method="POST" action="/create_timetable">
        {% csrf_token %}

        <label for="class_title">Class Title:</label>
        <select id="class_title" name="class_title">
            {% for fit_class in fit_classes %}
                <option value="{{ fit_class.id }}">{{ fit_class.title }}</option>
            {% endfor %}
        </select>

        <label for="club">Club:</label>
        <select id="club" name="club">
            {% for club in clubz %}
                <option value="{{ club.id }}">{{ club.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Submit</button>
    </form>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let teacher_box = document.querySelector('.teacher');
        if (teacher_box) {
            // List of clubs
            const clubsData = JSON.parse(teacher_box.dataset.clubs);
            //List of days
            const daysData = JSON.parse(teacher_box.dataset.days);
            //List of times
            const timesData = JSON.parse(teacher_box.dataset.times);
            //List of classes
            const classesData = JSON.parse(teacher_box.dataset.classes);
            //List of users
            const usersData = JSON.parse(teacher_box.dataset.users);
            //Username/ Id array
            const userInfo = { "username": "{{ user_info.username }}", "id": "{{ user_info.id }}" };
            //Class description
            const description = JSON.parse(teacher_box.dataset.description);
            //Timetables based on the selected club
            const timetables = JSON.parse(teacher_box.dataset.timetables);

            club_choice()
            teachers(clubsData, daysData, timesData, classesData, usersData, userInfo, description);
            timetable(timetables, classesData)

        }
    });
</script>

{% endblock %}
