{% extends "layout.html" %}
{% load static %}

{% block body %}

<br>
{% if club_selected %}
    <p> Welcome to {{ club_selected }} </p>

    <div class="timetable_container" data-timetables="{{ timetables }}" data-class="{{ classes_object }}"> </div>
{% else %}
    <div id="no-club">    Select a club to view schedule    </div>
{% endif %}
<div class="timetable_container">
    <select class="clubz" >
        <option> Select a club </option>
        {% for club in clubs %}
        <option value="{{ club.name }}" {% if club.name == club_selected %}selected{% endif %}>{{ club.name }}</option>
        {% endfor %}
    </select>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        club_choice()
        let timebox = document.querySelector('.timetable_container')
        if (timebox) {
            const timetableData = JSON.parse(document.querySelector('.timetable_container').dataset.timetables);
            const classesObject = JSON.parse(document.querySelector('.timetable_container').dataset.class);
            timetable(timetableData, classesObject);
            club_choice()
        }
    });
</script>
{% endblock %}
