{% extends "layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}

    <form method="POST" id="club_form" action="/join_class">
        {% csrf_token %}

        <label for="clubs">Clubs:</label>
        <select id="clubs" name="clubs">
            <option value="" disabled selected>Select a club</option>
        </select>

        <label for="classes">Class:</label>
        <select id="classes" name="classes">
            <option value="" disabled selected>Select a class</option>
        </select>

        <label for="days">Day:</label>
        <select id="days" name="days">
            <option value="" disabled selected>Select a day</option>
        </select>

        <label for="times">Time:</label>
        <select id="times" name="times">
            <option value="" disabled selected>Select the time</option>
        </select>

        <button type="submit">Submit</button>
    </form>
{% else %}

<p> Log in to book a class</p>

{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let form = document.querySelector('#club_form');
        if (form) {
            booking_listeners()
        }
    });
</script>
{% endblock %}

