{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="page-container" style="background-color: #e7a35a; width: 300px; margin-left: 5px; margin-bottom: 30px;">
    <div class="alert2">
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <h3> Enter your username </h3>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <h3> Choose a password </h3>
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <h3> Enter your email </h3>
            <input class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}
