{% extends "layout.html" %}

{% block title %}
    Contacts
{% endblock %}

{% block main %}

<tbody>
    <div class="page-container"></div>
    {% if get_flashed_messages() %}
        <header>
            <div class="alert alert-primary mb-0 text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
    {% endif %}
        <div class="container">
            <div class="img_box">
                <img src="/static/images/hands.jpg" style="display: block; margin-left: auto; margin-right: auto;" alt="Hands" width="420" height="635">
            </div>
            <div class="contact_info">
                <h4> Book a recovery session </h4>
                <p> whatsapp: 07459455789 </p>
                <p> email: restingfoxmassage@gmail.com </p>
                <p> Monday 12 - 18 </p>
                <p> Tuesday 10 - 18 </p>
                <p> Saturday 10 - 16 </p>
                <p> Sunday 10 - 16 </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.7520135985455!2d-3.2211471904241473!3d55.936336841570544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c707754d37d1%3A0x8ff990e92fe6896c!2sNorth%20Merchiston%20Club!5e0!3m2!1sen!2suk!4v1721927035838!5m2!1sen!2suk" width="375" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <br>
        <br>
        {% if session["user_id"] %}
        <div class="container">
            <div class="contact_box">
                <form action="/contact" method="post">
                        <h3>
                            Get in touch
                        </h3>
                        <div>
                            <input autocomplete="off" name="name" placeholder="Name" type="text" size="310">
                            {% if not session["user_id"]%}
                                <input autocomplete="off" name="user_email" placeholder="Email" type="text"  size="310">
                            {% endif %}
                            <input autocomplete="off" name="subject" placeholder="Subject" type="text"  size="310">
                        </div>
                        <div>
                            <textarea id="w3review" name="message" placeholder="Message" rows="4" cols="50"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                </form>
            </div>
            <div class="img_box">    
                <img src="/static/images/tools.jpg" alt="tools" style="display: block; margin-left: auto; margin-right: auto;" width="420" height="635">
            </div>
        </div>
        {% endif %}
    </div>
</tbody>
{% endblock %}
