{% extends "layout.html" %}

{% block title %}
    Reset
{% endblock %}

{% block main %}

{% if get_flashed_messages() %}
<header>
    <div class="alert alert-primary mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
</header>
{% endif %}

<div class="page-container" style="background-color: #e7a35a; width: 300px; margin-left: 5px; margin-bottom: 80px;">
    <form action="/reset" method="post">
        <div class="mb-3">
            <h3> Choose a new password </h3>
            <input type="hidden" name="token" value="{{ token }}">
            <input class="form-control mx-auto w-auto" name="newpass" placeholder="Password" type="password">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}
